.highlight {
    background-color: rgb(13, 6, 22);
}

.navbar-style{
    background-color: #1a4d0b !important;
}

.badge {
    color: aliceblue;
    background-color: #020107;
}

.green-highlight {
    color: #008000;
    font-size: 40px;
}

.red-highlight {
    color: #ff0000;
    font-size: 25px;
}

.hand-icon {
    cursor: pointer;
}